# use with argument "-o" to override existing config (etc. docker containers)

# --- System Configuration ---
DDOS_MARTUMMAI_INTERFACE=
DDOS_MARTUMMAI_ENABLE_BLOCKING=
DDOS_MARTUMMAI_BLOCK_DURATION_SECONDS=
DDOS_MARTUMMAI_CSV_ROTATION_ROWS=

# --- Model Configuration ---
DDOS_MARTUMMAI_BATCH_SIZE=

# --- Notification  ---
DDOS_MARTUMMAI_ADMIN_EMAIL=

DDOS_MARTUMMAI_SMTP_SERVER=
DDOS_MARTUMMAI_SMTP_PORT=
DDOS_MARTUMMAI_SMTP_USER=
DDOS_MARTUMMAI_SMTP_PASSWORD=

# --- Google Drive Configuration ---
DDOS_MARTUMMAI_GOOGLE_DRIVE_FOLDER_ID=
DDOS_MARTUMMAI_GOOGLE_DRIVE_UPLOAD=