[Unit]
Description=DDoS MarTumMai Guard Detection Service
After=network.target

[Service]
Type=simple
User=root
# Working directory for the service
WorkingDirectory=/opt/ddos-martummai
# Using uv to run the installed package
ExecStart=/root/.cargo/bin/uv run ddos-martummai --config /etc/ddos-martummai/config.yml
Restart=on-failure
RestartSec=5
# Direct logs to specific files
StandardOutput=journal
StandardError=append:/var/log/ddos-martummai/error.log

[Install]
WantedBy=multi-user.target